<% get_levels.each do |lang, lv| %>
  <div class="row lv-container">
    <ul class="lv-item small-2 columns">
      <li class="lv-lang">
        <%= image_tag "langs/#{lang.to_s.downcase}.png", size: "48", alt:  lang.to_s, title: lang.to_s %>
      </li>
      <li class="lv-level">
        lv <%= lv.to_i %>
      </li>
    </ul>
    <div class="progress small-9 success round xp-bar columns">
      <span class="meter" style="width: <%= lv.to_s.split(".")[1][0,2] %>%"></span>
    </div>
  </div>
<% end %>
