<% if !github_authenticated? %>
  <div class="parallax-background">
    <div class="intro-text">
      <span class="git">git</span><span class="bounty">Bounty!</span>
      <p>Solve issues, earn interweb points!</p>
      <a class="btn-auth btn-github large" href="/login">
        Sign in with <b>Github</b>
    </a>
    </div>
    <div class="parallax-content">
      <p class="info_main">gitBounty is a online resource for tracking issues on github that you've solved, this will grant you points in the form of internet swag!</p>
    </div>
  </div>
<% else %>
<% end %>
