/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.git {
  font-weight: bold;
}
.bounty{
  font-family: sans-serif;
  color: #F05D1E
}
.logo{
  padding: 5px;
}
.nav-head{
  font-size: 32px;
  width: 100%;
  display: flex;
  height: 90px;
  padding: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13), 0 3px 10px 0 rgba(0, 0, 0, 0.11);
  background-color: rgb(240, 240, 240)
}
.content{
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13), 0 3px 10px 0 rgba(0, 0, 0, 0.11);
}
.head-links {
  text-decoration: none;
  text-align: right;
  list-style: none;
  margin: 0 0 0 0;
  margin-left: 0px !important;
  font-size: 24px;
  float: right;
}
.head-links li {
  display: inline-block;
  padding-left: 20px;
}
.head-links li a {
  color:black;
}
.head-links li a:hover {
  color:#5C5C5C;
}
.footer{
  font-size: 8px;
  background-color: rgb(240, 240, 240)
  padding: 5px;
  padding-top: 10px;
  position: relative;
  bottom: 0px;
  width: 100%;
}
.github-avatar{
  padding-left: 20px;
}
.img-responsive {
  margin:  auto;
  width: 80px;
  border-radius: 50%;
  border: solid white 3px;
}
.head-boxes{
  display: inline-block;
}
.head-content{
  display: flex;
  align-items: center;
}
