// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.head {
  font-size: 32px;
  text-align: center;
}
.git {
  font-weight: bold;
}
.bounty{
  font-family: sans-serif;
  color: #F05D1E
}
