.xp-bar {
  background-color: #FFFEE0;
  height: 1.8rem;
}
.meter{
}
.lv-item li{
  display: inline-block;
}
.lv-item{
  margin-top:10px;
  margin-bottom: 10px;
}
.lv-container {
  display: flex;
  align-items: center;
}
